    .main-tittle {
         font-family: 'Roboto' , serif;
         font-weight: 900;
    }

    .description {
        font-family: 'Roboto' , serif;
        font-weight: 700;
    }

    .article-tittle {
        font-family: 'Roboto' , serif;
        font-weight: 700 ;
    }

    .article {
        font-family: 'Roboto' , serif;
        font-weight: 400;
    }

    .article-footer {
        font-family: 'Raleway' , serif;
        font-weight: 400;
    }

 